*{
    margin: 0;
    padding: 0;
}

.First-page-container{
    display: flex;
    padding: 20% 5% 15%;
    justify-content: space-between;
}

.box1{
    display: flex;
    flex-direction: column;
}
.box1 h4{
    font-family: 'Cedarville Cursive', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 53.1px;
    color:#444A4A;
    
}

.box1 h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 63px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 63px;
    margin-top: 25px;
    margin-bottom: 25px; 
}

.box1 button{
    background-color: #2D635E;
    border: none;
    border-radius: 5px;
    height: 54px;
    width: 235px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}  

.box2{
    display: flex;
}


.arrow{
    background-color:#E3EBE7;
    width: 159px;
    height: 157px;
    justify-content: center;
    opacity: 40%;
    align-self: self-end;
}
.arrow img{
    width: 25px;
    height: 6px;
}


.img1{
    
    background-color: #E3EBE7;
    width: 410px;
    height: 466px;
}


.img1 img{
margin-top: 33px;
margin-left: 36px;
}

.box3{
    
}