*{
    margin: 0;
    padding: 0;
}

.First-page-container{
    display: flex;
    /*padding: 20% 5% 15%; */
    justify-content: space-between;
    padding-left: 100px;
    
}


.box1{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    
}
.box1 h4{
    font-family: 'Cedarville Cursive', sans-serif;
    font-weight: lighter;
    /*font-weight: 400;*/
    font-size: 28px;
    line-height: 53.1px;
    color:#444A4A;
    white-space: nowrap;
}

.box1 h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 63px;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 63px;
    padding-top: 28px;
    padding-bottom: 28px; 
    
}

.box1 button{
    background-color: #2D635E;
    border: none;
    border-radius: 5px;
    height: 54px;
    width: 235px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    cursor: pointer;
    transition: 0.15s;
}  
.box1 button:hover{
opacity: 70%;
}
.box1 button:active{
    transform: scale(1.1);
}

.box2{
    display: flex;
    margin-left: 200px;
    margin-top: 40px;
}

.arrow1{
    display: flex;
    background-color:#E3EBE7;
    width: 159px;
    height: 157px;
    justify-content: center;
    align-items: center;
    opacity: 40%;
    align-self: self-end; 
}

.arrow1 img{
    width: 25px;
    height: 6px;
    
}

.img1{
    
    background-color: #E3EBE7;
    display: flex;
    width: 410px;
    height: 466px;
    /*align-items: center;
    justify-content: center;*/
    /*margin-right: 120px;*/
}

.img1 img{
margin-top: 140px;
margin-left: 30px;
width: 344px;
height: 373px;
}

.box3{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-end;
    margin-bottom: 35px;
    margin-right: 120px;
    
}
.follow-us h3{
    color:#444A4A;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight:normal;
    line-height: 25px;
    margin-top: 50px;
    transform: rotate(-90deg);
    white-space: nowrap;
}

.icones{
    display: flex;
    flex-direction: column-reverse; 
    gap: 8px;
}

.icones img{
    width: 32px;
    height: 32px;
}

@media (max-width: 440px){
    .box2{
        display: none;
    }
    .box3{
        display: none;
    }
.box1{
    display: flex;
    justify-content: center;
    text-align: center;
}
}