* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.container-2 {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  justify-content: space-between;
  padding-left: 5vw;
}
.about-us {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: "Cedarville Cursive", sans-serif;
  font-weight: lighter;
  font-size: 28px;
  line-height: 53.1px;
  color: #444a4a;
  white-space: nowrap;
}
.title1 {
  position: relative;
}
.box-1 {
  display: flex;
  padding: 5px;
  gap: 200px;
  position: relative;
}
.background-rectangle {
  position: absolute;
  width: 380px;
  height: 287px;
  background-color: #fae9e0;
  left: 15px;
  z-index: -1;
  top: 20px;
}
.background-rectangle2 {
  position: absolute;
  width: 410px;
  height: 276px;
  background-color: #e3ebe7;
  z-index: -1;
  top: 30px;
}
.image-cup {
  margin-right: 20px;
  margin-top: 40px;
  margin-left: -30px;
  padding-bottom: 50px;
  right: 0;
}
.prom {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: "Cedarville Cursive", sans-serif;
  font-weight: lighter;
  font-size: 28px;
  line-height: 53.1px;
  color: #444a4a;
  white-space: nowrap;
}
.box-2 {
  display: flex;
  padding: 5px;
  gap: 200px;
  position: relative;
}
.order {
  background-color: #2d635e;
  border: none;
  border-radius: 5px;
  height: 54px;
  width: 235px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.order:hover {
  opacity: 70%;
}
.order:active {
  transform: scale(1.1);
}
p {
  font-family: "Alegreya sans", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 36px;
}
h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}
.image-part {
  display: flex;
  align-items: stretch;
  margin-left: 20px;
  gap: 80px;
}
.part-image2 {
  display: flex;
}
.image-cup2 {
  margin-top: 9px;
  margin-left: 50px;
}
