*{
    margin: 0;
    padding: 0;
}

.Second-page-container{
    display: flex;
    padding-left: 5vw;
    
    
}


.box-1{
    display: flex;
    margin-top: 150px;
    align-items: center; 
}

.img-1{
    
    background-color: #E3EBE7;
    display: flex;
    
}

.img-1 img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    
}

.about-us h3{
    color:#444A4A;
    font-family: 'Cedarville Cursive', sans-serif;
    font-size: 28px;
    line-height: 53.1;
    font-weight:normal;
    line-height: 25px;
    margin-top: 50px;
    transform: rotate(-90deg);
    white-space: nowrap;
}
.box-2{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    float: right;

    
}

.box-2 h2{
   
}

.box-3{
    display: flex;
    /*padding: 20% 5% 15%; */
    flex-direction: column;
    padding-left: 5vw;
    
}

.box-4{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    
}

.img-2{
    
    background-color: #E3EBE7;
    display: flex;
    
    width: 410px;
    height: 466px;
    /*align-items: center;
    justify-content: center;*/
    /*margin-right: 120px;*/
}
