

.Second-page-container{
    display: flex;
    /*padding: 20% 5% 15%; */
    justify-content: space-between;
    padding-left: 5vw;
    
}
.box-1{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    
}

.img-1{
    
    background-color: #E3EBE7;
    display: flex;
    
    width: 410px;
    height: 466px;
    /*align-items: center;
    justify-content: center;*/
    /*margin-right: 120px;*/
}

.about us h3{
    color:#444A4A;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight:normal;
    line-height: 25px;
    margin-top: 50px;
    transform: rotate(-90deg);
    white-space: nowrap;
}
.box-2{
    display: flex;
    margin-left: 200px;
    margin-top: 40px;
}

.Third-page-container{
    display: flex;
    /*padding: 20% 5% 15%; */
    justify-content: space-between;
    padding-left: 5vw;
    
}

.box-3{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    
}

.img-2{
    
    background-color: #E3EBE7;
    display: flex;
    
    width: 410px;
    height: 466px;
    /*align-items: center;
    justify-content: center;*/
    /*margin-right: 120px;*/
}
