*
{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 20px;
    padding: 20% 5% 10%;
}



.footer_imageWrapper1{
    position: relative;
}


.img-tag{
    position: absolute;
    top: 12px;
    right: 0;
    transform: rotate(-90deg) translateY(34px);
    font-family: 'Cedarville Cursive', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight:100;
    opacity: 75%;
    
}

.map{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer_imageWrapper2{
    margin-top: 10px;
}

.footer_text-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.footer_text{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: #444A4A;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 15px;
}

.footer_title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 3rem;
}


.footer_button{
display: none;
padding: 1.5rem;
width: 45%;
background-color: white;
border-radius: 10px;
border: none;
box-shadow: 2px 5px 13px 0px rgba(68, 74, 74, 0.35);
min-width: 189px;
cursor: pointer;
font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.01em;
color: #444A4A;
}

.footer_buttonArrow{
    padding: 1% 6%;
}

.copyright{
    display: flex;
    justify-content: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 19px;
    letter-spacing: 0.01em;
    font-weight: 300;
    color: #444A4A;
}

@media screen and (max-width: 768px) {
    .footer_imageWrapper2{
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .footer-container{
        flex-direction: column;
    }
    
    .mapContainer{
        max-width: 400px;
    }

    .map {
        height: 50vh;
        object-fit: cover;
    }

    .img-tag{
        display: none;
    }

    .item-collapse{
        display: none;
    }

    .footer_button{
        display: block;
    }

    .footer_imageWrapper2{
        display: none;
    }

    .footer_text-box{
       align-items: center;
       text-align: center;
    }

    .copyright{
font-size: 14px;
    }
    
    };