.burgerMenu_container{
    display: none;
}

.header__top-line {
    /*box-sizing: content-box;*/
    box-sizing: border-box;
    list-style-type: none;
    text-align: justify;
    letter-spacing: 3px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    /*padding: 36px 2.2%;*/
    /* position: static;  */
    /*top: 0;*/
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
   
}

a {
    text-decoration: none;
    color: inherit;
}

.header_logo{
    display: flex;
    /*justify-content: left; */
    padding-left: 100px;

}

.logo_svg, .Ftext {
    /* float: left; */
    font-size: 34px;
    font-family: 'Cedarville Cursive', sans-serif;
    font-weight: 300;
}

.header__navigation {
    /* float: right; */
    font-family: "Josefin Sans";
    display: flex;
    justify-content: right;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 5em; 
}

.Ftext, .header__navigation{
    /* display: inline-block; */
    height: 100%;
}

.Ftext, .logo_svg::before {
    /* content: ''; */
    /* display: inline-block; */
    vertical-align: middle;  
    height: 100%;
}

.header__top-line::after {
    /* content: ''; */
    /* display: inline-block; */
    width: 100%;
}

nav > a {
    /* margin-left: 10px;
    margin-right: 90px; */
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    font-family: "Josefin Sans";
    text-align: justify;
    
}

.button{
    background-color: #2D635E;
    border: none;
    border-radius: 7px;
    height: 43px;
    width: 135px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    font-family: "Josefin Sans";
    margin-right: 150px;
    cursor: pointer;
}

.button:hover{
    opacity: 70%;
    }

.button:active{
        transform: scale(1.1);
    }

/*
 BURGER STYLE BELOW TAKEN FROM CODEPEN
 */

 body
 {
   margin: 0;
   padding: 0;
   
   /* make it look decent enough */
   background: white;
   color: #141414;
   font-family: 'Josefin sans', sans-serif;
 }
 
 #menuToggle
 {
   display: block;
   /* You can also use relative/absolute here if you want to stay on the top */
   position: fixed;
   top: 50px;
   left: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   max-width: 400px;
   width: 100vw;
   max-height: 100vh;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   box-sizing: border-box;
   overflow-y: auto;
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 #menu li label
 {
   cursor: pointer;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }


 @media screen and (max-width: 440px){
    .burgerMenu_container{
        display: block;
    }
    .header__navigation{
        display: none;
    }
 }
    

/*
ul.nav {
    list-style-type: none;
    margin: 0;
}

ul.nav li {
    float: right;
}

ul.nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}

header svg, header h2 {
    float: right;
}

@media screen and (max-width: 375px){
    ul.nav li.right, 
    ul.nav li {float: none;}
} */
